body{
	color: #FFF;
}
.navbar{
	background-color: #000;
}
.SectionHome{
	height: 800px;
	background: url(../img/photos/bean.png);
	background-repeat: no-repeat;
	background-position: 0 -300px;
}
.home{
	margin-top: 200px;
	background: rgba(0, 0, 0, 0.75);
	padding: 30px;
}
.home h1{
	font-size: 80px;
	padding: 10px 0 25px 0;
}
.home h2{
}
.home p{
	padding-bottom: 15px;
}
.SectionAbout{
	height: 800px;
	background-color: #2980b9;
}
.about{
	padding: 40px 0 25px 0;
	height: 500px;
}
.SectionProjects{
	height: 800px;
	background-color: #2c3e50;
}
.projects{

}
.SectionCodeSamples{
	height: 800px;
	background-color: #d35400
}
.codeSamples{

}
.SectionContact{
	height: 800px;
	background-color: #c0392b;
}
.SectionFooter{
	height: 200px;
	background-color: #2c3e50;
}
.footer{
	
}